@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    background-image: url("./assets/bg.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.login {
    color: white;
    width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    border: 5px;
    background-color: rgba(125, 125, 125, .3);
    backdrop-filter: blur(5px);
}
.field{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
input{
    padding: 8px 10px;
    border-radius: 5px;
    border: white;
    border: 1px solid rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.09);

}
input::placeholder{
    color: rgba(255, 255, 255, 0.7);
}
h2{
    text-align: center;
}
button{
    padding: 10px;
    border: none;
    background-color: rgba(255, 255, 255, .2);
    color: white;
    border-radius: 5px;
}
button:hover{
    background-color: rgba(255, 255, 255, .4);
    cursor: pointer;
}
.bottom{
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
}
.bottom > p, 
label{
    color: rgba(255, 255, 255, 0.6);
    font-size: 0.86rem;
    gap: 0.8rem;
}
.socials {
    display: flex;
    gap: 0.4rem;
}
.socials > div {
    background-color: white;
    padding: .4rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
